<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="PURA D'OR, dầu gội, haircare, chăm sóc tóc, www.daugoipurador.com" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="canonical" href="https://daugoipurador.com/shop">
    <link rel="shortcut icon" href="images/icon.jpg" type="">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KSVWSZQ');
    </script>
    <!-- End Google Tag Manager -->
    <link rel="icon" type="image/png"
        href="//purador.com/cdn/shop/files/favicon-4.jpg?crop=center&height=32&v=1684889881&width=32">

    <title>
        <%=title%>
    </title>

    <base href="/static/site/">

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>